#title
{
	font-family: 'Sacramento';
	font-size: 200px;
	text-align: center;
	text-decoration: blink;
	color:  #00ffff;
}
body 
{
	background-color: #b5a6a5;
}
*{
max-width: 1000px;
margin: auto;
}